@use "../abstracts/variables" as v;

.hero {
  min-height: 70vh;
  display: flex;
  align-items: center;

  background:
    linear-gradient(
      135deg,
      rgba(v.$primary-dark, 0.95),
      rgba(v.$primary-color, 0.85)
    );

  &__title {
    font-size: clamp(2.2rem, 5vw, 4.5rem);
    font-weight: 800;
  }

  &__text {
    max-width: 650px;
    font-size: clamp(1rem, 2vw, 1.25rem);
  }
}