@use "../abstracts/variables" as v;

.btn-marketplace {
  border: 0;
  color: v.$white;
  background-color: v.$primary-color;

  transition:
    transform v.$transition-base,
    background-color v.$transition-base;

  &:hover {
    color: v.$white;
    background-color: v.$primary-dark;
    transform: translateY(-2px);
  }

  &:active {
    transform: scale(0.96);
  }
}